<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.mapper.MemberMapper">

	<resultMap type="com.myapp.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="username" column="username" />
		<result property="addr" column="addr" />
		<result property="zipNo" column="zipNo" />
		<result property="regDate" column="regdate" />
		<!-- 1 : n 인 경우 collection을 사용  -->
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>

	<resultMap type="com.myapp.domain.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		SELECT
		mem.userid, userpw, username, addr, zipno, enabled, regdate, auth
		FROM		
		myboard_member mem LEFT OUTER JOIN myboard_member_auth auth on mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>
	
	<!-- 회원가입 -->
	<insert id="register">
		insert into myboard_member (userid,userpw,username,addr,zipNo)
		values (#{userid},#{userpw},#{username},#{addr},#{zipNo})
	</insert>
	<!-- 회원 권한  -->
	<insert id="registerAuth">
		insert into myboard_member_auth
		values(#{userid},#{auth})				
	</insert>
	<!-- id 중복 체크  -->
	<select id="idcheck" resultType="String">
		select userid from myboard_member where		
		userid = #{userid}
	</select>
	<!-- 회원 정보 수정  -->
	<update id="modify">
		update myboard_member
		set userpw=#{userpw},username=#{username},addr=#{addr},zipNo=#{zipNo}
		where userid = #{userid}
	</update>
	<!-- 회원 권한 수정  -->
	<update id="modifyAuth">
		update myboard_member_auth
		set auth = #{auth}
		where userid = #{userid}
	</update>
			
	<!-- 회원 탈퇴 -->
	<delete id="delete">
		delete from myboard_member
		where userid = #{userid}
	</delete>
	<!-- 회원 탈퇴 권한 -->
	<delete id="deleteAuth">
		delete from myboard_member_auth
		where userid = #{userid}
	</delete>



</mapper>

