<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<bean name="/test.do" class="com.test.controller.TestController"></bean>
<!-- member Controller  -->
<!-- 추가 폼  -->
<bean name="/member_form_insert.do" class="com.member.controller.MemberFormInsert"></bean>
<!-- 추가  -->
<!-- dao 객체를 직접 컨트롤러에서 생성하는것이 아니라 xml파일에서 설정 해 줌 -->
<!-- property의 ref는 참조하는 클래스의 이름, name은 해당 class의 변수 명  -->
<bean name="/member_insert.do" class="com.member.controller.MemberInsert">
<property name="dao" ref="dao"></property>
</bean>
<!-- dao  -->
<bean id="dao" class="com.member.model.MemberDAOImpl"></bean>
</beans>
